body {
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    color: #424141;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
        }





  input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
 input[type="submit"] {
      background: red;
      color: white;
    }
 h3 {
       font-size: 22px;
       text-align: center;
    }
div {
       font-size: 22px;
       text-align: center;
    }

body{
   
    background-size :cover;
    background-position :center;
  color: white;
}

html { height: 100% }
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
body { background-image: radial-gradient( cover, rgba(92,100,111,1) 0%,rgba(31,35,40,1) 100%), url('http://i.minus.com/io97fW9I0NqJq.png') }
